
<!doctype html>
<html lang="en">
  <head>
    <%= stylesheet_link_tag "pages", :media => "all" %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>Cover Template · Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/cover/">

    <!-- Bootstrap core CSS -->
<link href="/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="cover.css" rel="stylesheet">
  </head>
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h1 id = "app_title" class="masthead-brand">Litogram</h1>
      <nav class="nav nav-masthead justify-content-center">
        <a id = "nav_butt" class="nav-link active" href="#">Home</a>
        <a id = "nav_butt" class="nav-link active" href="#">Features</a>
        <a id = "nav_butt" class="nav-link active" href="#">Contact</a>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
    <% if @media.class == ArtWork %>
      <h3 class="cover-heading"><%= @media.title %></h3>
      <p class="lead">Artist: <%= link_to @media.artist.name, artist_path(@media.artist) %></p>
      <div class="container"><img src=<%= @media.image_link %> alt="a picture"></div>
      <p class="lead">Description: <%= @media.description %></p>
      <p class="lead">Created: <%= @media.year %></p>
      <p class="lead">Style: <%= @media.style %></p>


    <% elsif @media.class == WordOfTheDay %>
        <h3 class="cover-heading"><%= @media.word %></h3>
        <p class="lead">Definition: <%= @media.definition %></p>
        <p class="lead">Part Of Speech: <%= @media.part_of_speech %></p>
        <p class="lead">Pronunciation: <%= @media.pronunciation %></p>
        <p class="lead">Example Usage: <%= @media.example %></p>
        <p class="lead">Origin: <%= @media.origin %></p>


    <% else  %>
        <h3 class="cover-heading"><%= @media.title %></h3>
        <p class="lead">By: <%=link_to @media.author.name, author_path(@media.author) %></p>
        <p class="lead"><%= @media.content %></p>


    <% end %>

      <%= button_to "Next", root_path, :method => :get %>
      <!-- <a href="/" class="btn btn-lg btn-secondary">Next</a> -->

  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p> Litogram is fast, random, smart, useful stuff to help you pass time. </p>
    </div>
  </footer>
</div>
</body>
</html>
