<%= form_with(model: word_of_the_day, local: true) do |form| %>
  <% if word_of_the_day.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(word_of_the_day.errors.count, "error") %> prohibited this word_of_the_day from being saved:</h2>

      <ul>
      <% word_of_the_day.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_for @word_of_the_day do |f| %>
  Word: <%=f.text_field :word %><br>
  Definition: <%=f.text_area :definition %><br>
  Origin: <%=f.text_area :origin %><br>
  Example: <%=f.text_area :example %><br>
  Part of Speech: <%=f.text_field :part_of_speech %><br>
  pronunciation: <%=f.text_area :pronunciation %><br>
    <div class="actions"><br>
      <%= f.submit %>
  </div>
<% end %>
<% end %>
