<p id="notice"><%= notice %></p>

<h1><%=@word_of_the_day.word %></h1>
<tr>
  <p>Definion: <%= @word_of_the_day.definition %></p>
  <p>Origin: <%= @word_of_the_day.origin %></p>
  <p>Expample Usage: <%= @word_of_the_day.example %></p>
  <p>Part of Speech: <%= @word_of_the_day.part_of_speech %></p>
  <p>Pronunciation: <%= @word_of_the_day.pronunciation %></p>
  <%# link_to 'Show', word_of_the_day %>
  <%# link_to 'Edit', edit_word_of_the_day_path(word_of_the_day) %>
  <%# link_to 'Destroy', word_of_the_day, method: :delete, data: { confirm: 'Are you sure?' } %>
</tr>



<%#link_to 'Edit', edit_word_of_the_day_path(@word_of_the_day) %>
<%= link_to 'Back', word_of_the_days_path %> | <%= link_to 'Home', root_path %>
