<!doctype html>
<html lang="en">
  <head>
    <%= stylesheet_link_tag "texts", :media => "all" %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>Cover Template · Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/cover/">

    <!-- Bootstrap core CSS -->
<link href="/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="cover.css" rel="stylesheet">
  </head>
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h1 id = "app_title" class="masthead-brand">Litogram</h1>
      <nav class="nav nav-masthead justify-content-center">
        <a id = "nav_butt" class="nav-link active" href="/">Home</a>
        <a id = "nav_butt" class="nav-link active" href="#">Contact</a>
        <a id = "nav_butt" class="nav-link active" href="/art_works">Art</a>
        <a id = "nav_butt" class="nav-link active" href="/texts">Texts</a>
        <a id = "nav_butt" class="nav-link active" href="/word_of_the_days">Word Archive</a>
        <a id = "nav_butt" class="nav-link active" href="/accounts/sign_in">Log In</a>
      </nav>
    </div>
  </header>


  <h2><%=@text.title %></h2>
  <p>By: <%= @text.author.name %></p>
  <p class="left"> <%= @text.content %></p>
  <%# link_to 'Show', word_of_the_day %>
  <%# link_to 'Edit', edit_word_of_the_day_path(word_of_the_day) %>
  <%# link_to 'Destroy', word_of_the_day, method: :delete, data: { confirm: 'Are you sure?' } %>



  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p> Litogram is fast, random, smart, useful stuff to help you pass time. </p>
    </div>
  </footer>
</div>
</body>
</html>




<% if account_signed_in?%>
<p><%= link_to 'Add New Text', new_text_path %></p>
<% end %>








  <!-- <td> link_to 'Show', text </td> -->
  <!-- <td> link_to 'Edit', edit_text_path(text) </td> -->
  <!-- <td> link_to 'Destroy', text, method: :delete, data: { confirm: 'Are you sure?' } </td> -->




<%# <%= link_to 'Edit', edit_text_path(@text) %>
<%# link_to 'Back', texts_path %>
 <%# link_to 'Home', root_path %>
